@import url('./reset.less');
header{
    background: #f2f2f2;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    color: #999;
    section{
    height: 25px;
    display: flow-root;
    a{
        margin-left: 15px;
        color: #999;
    }
    ul{
        list-style: none;
        li{
            float: left;
            margin-left: 15px;
        }
    }
    }
   
}
