@import url('./reset.less');
.container{width: 1231px;margin: 0 84px 0 53px;}
.container-fluid{width: 100%;}

header{
    background: #f2f2f2;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    color: #999;
    section{
    height: 25px;
    display: flow-root;
    a{
        margin-left: 15px;
        color: #999;
    }
    ul{
        list-style: none;
        padding: 6px 0;
        height: 25px;
        >li{
           line-height: 10px;
           height: 10px;
            float: left;
          padding: 0 10px;
            &:nth-child(3){
                border-right: solid 1px #999;
              
            }
        }
    }
    }
   
}

article{
    display: flow-root;
   div>img{
       width: 240px;
       height: 130px;
       margin-left: -20px;
       vertical-align: bottom;
   }
   section{
    margin-top: 38px;
    margin-left: 120px;
    width: 625px;
    >input{
        
       width: 495px;
       height: 40px;
       border: 2px solid red;
       }
       .search{
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        color: white;
        width: 130px;
        height: 40px;
        background: red;
    }
   }
}

.nav-index{
    display: flow-root;
    border-bottom: #ff0036 1px solid;
    li{
        float: left;
        padding: 0 10px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 15px;   
    }
    
    ul:first-child{
        li{
            width: 115px;
            img{
                width: 96px;
                height: 30px;
            }
            &:first-child{
                width: 200px;
                background:#ff0036 ;
                color: white;
                font-weight: 600;
                text-align: left;
                a{
                color: white;
                margin-left: 5px;
                }
            }
        }

    }
    
}

.body{
    background: #f5f5f5;
    display: flow-root;
}
.banner-nav{
    ul{
        background-color: rgba(0,0,0,.55);
    width: 200px;
    height: 500px;
    position: relative;
    li{
        position: relative;
        height: 31.2px;
        line-height: 31.2px;
        color: #fff;
        font-size: 14px;
        padding: 0 1em;
        }
    a{
        color: white;
    }
    }
   
}


// .back(@index) when (@index>0){
//     li:nth-child(10+@index){
//         background: url('../../images/index/img2_{@index}.webp') no-repeat 10px 20px;
//     };
//     .back(@index-1);
// };
// .back(5);

.brandlist{
    margin-top: 40px;
    li{
        padding-top: 20px;
        background: white;
        width: 1221px/10;
        height: 108px;
        float: left;
        text-align: center;
        line-height: 108px;
        position: relative;
        margin-right: 1px;
        margin-bottom: 1px;
        img{
            width: 82%;
            height: 50pxs;
        }
       
    a{
        width: 1231px/10;
        height: 108px;
        float: left;
        text-align: center;
        line-height: 108px;
        position: absolute;
        background: rgba(0,0,0,0.8);
        top: 0;
        left: 0;
        opacity: 0;
        transition:0.3s all;
        &:hover{
            opacity: 1;
        }
        .desc{
            text-align: center;
            line-height: 90px;
            height: 60px;
            color: #fff;
            >span{
                display: block;
                padding: 0 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .enter{
            text-align: center;
            height: 20px;
             span{
                display: inline-block;
                width: 63px;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                background-color: #FF0036;
                border-radius: 9px;
             }
        }
    }}
}

.tianmaoMart{
    display: flow-root;
    padding-top: 80px;
    .advertise{
        width: 235px;
        height: 618px;
        background: white;
    }
    .markgoods{
        width: 995px;
        height: 618px;
        a{
            display: block;
            width: 234px;
            height: 300px;
            margin-left: 13px;
            margin-bottom: 13px;
            float: left;
            padding: 20px 27px 0;
            background: white;
            &:first-child{
                width: 484px;
            }
            img{
                width: 185px;
                height: 185px;
            }
            .goods-desc{
                width: 135px;
                height: 40px;
                font-size: 14px;
                color: #333;
                line-height: 20px;
                overflow: hidden;
                margin: 8px auto;
                text-align: center;
            }
            .goods-price{
                width: 135px;
                text-align: center;
                font-size: 18px;
                color: #FF0036;
                line-height: 18px;
                margin: 10px auto;
            }
        }
    }

}

.tianmaoguoji{
    display: flow-root;
    margin-top: 80px;
    .advertise{
        width: 235px;
        height: 618px;
        div{
            height: 300px;
            margin-bottom: 13px;
            background: white;
            &:last-child{
                margin-bottom: nones;
            }
        }
    }
    .markgoods{
        width: 995px;
        height: 618px;
        a{
            background: white;
            display: block;
            width: 234px;
            height: 300px;
            margin-left: 13px;
            margin-bottom: 13px;
            float: left;
            padding: 20px 27px 0;
            img{
                width: 185px;
                height: 185px;
            }
            .goods-desc{
                width: 135px;
                height: 40px;
                font-size: 14px;
                color: #333;
                line-height: 20px;
                overflow: hidden;
                margin: 8px auto;
                text-align: center;
            }
            .goods-price{
                width: 135px;
                text-align: center;
                font-size: 18px;
                color: #FF0036;
                line-height: 18px;
                margin: 10px auto;
            }
        }
    }

}

.jujia,.kudian,.meili,.aichao,.huwai{
    display: flow-root;
    div{
        height: 80px;
        margin-top: 30px;
        h3{
            height: 18px;
            font-size: 18px;
            font-weight: 200;
        vertical-align: middle;
        padding-left: 10px;
        border-left: 3px solid black;
        }
    }
    .advertise{
        width: 235px;
        height: 618px;
       
    }
    .markgoods{
        width: 995px;
        height: 618px;
        a{
            background: white;
            display: block;
            width: 234px;
            height: 300px;
            margin-left: 13px;
            margin-bottom: 13px;
            float: left;
            padding: 20px 27px 0;
            img{
                width: 185px;
                height: 185px;
            }
            .goods-desc{
                width: 135px;
                height: 40px;
                font-size: 14px;
                color: #333;
                line-height: 20px;
                overflow: hidden;
                margin: 8px auto;
                text-align: center;
            }
            .goods-price{
                width: 135px;
                text-align: center;
                font-size: 18px;
                color: #FF0036;
                line-height: 18px;
                margin: 10px auto;
            }
        }
    }

}

.aside{
    border-top:#ccc 1px solid;
    height: 350px;
    .server{
        padding: 25px 0 ;
        a{
            width:1231px/4;
            height: 100px;
            display: block;
        }
    }
    .bottom-nav{
        border-top:1px #999 solid ;
        display: flex;
        justify-content: space-around;
        div{
            height: 100px;
            a{
                margin: 1em 0;
                display: block;
            }
            img{
                width: 105px;
                height: 105px;
            }
        }
        

    }
}

.footer{
    background: black;
    height: 100px;
    a{
        color: white;
    }
}




